body {
  background-image: url("./background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#articleContainer {
  /* border: 2px solid orange; */
  display: flex;
  justify-content: space-between;
  width: 1400px;
  margin: 30vh auto;
}

#celticArticle, #starbucksArticle {
  border: 1px solid black;
  width: 500px;
  text-align: center;
  flex: 1;
  margin: 5vw;
  padding: 15px;
}
