body {
  background-image: url("./background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#articleContainer {
  /* border: 2px solid orange; */
  display: flex;
  justify-content: space-between;
  width: 1400px;
  margin: 30vh auto;
}

#celticArticle, #starbucksArticle {
  width: 500px;
  text-align: center;
  flex: 1;
  margin: 5vw;
  padding: 15px;
}

#celticArticle {
  background-color: rgb(126, 109, 77);
}

#celticArticle h1 {
  color: white;
}

#celticArticle p {
  font-family: Arial, Helvetica, sans-serif;
}
